.DS_Store
*.swp
*~.nib

*.o
*.a

test/gen-tests.c
test/gen-benchmarks.c
test/run-tests
test/run-benchmarks

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

project.xcworkspace/
xcuserdata/
